<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Web App</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles-home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="logo">
        <h1>Music Web App</h1>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/musicians">Musicians</a></li>
            <li><a href="/bands">Bands</a></li>
            <li><a href="/venues">Venues</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/marketplace">Marketplace</a></li>
        </ul>
    </div>
</div>

<div class="hero">
    <div class="container">
        <h2>Welcome to Music Web App</h2>
        <p>Connect with musicians, bands, and venues. Buy and sell musical equipment.</p>
        <a href="#about" class="button">Learn More</a>
    </div>
</div>

<div id="about" class="hero-2">
    <div class="content">
        <div class="container">
            <h3>About Music Web App</h3>
            <p>Music Web App is your ultimate platform for connecting with fellow musicians, discovering new bands, and finding the perfect venues for your next gig. Whether you're a solo artist looking to join a band, a band in search of a drummer, or a venue owner seeking talented performers, our app has you covered.</p>
            <!-- ... Otro contenido ... -->
        </div>
    </div>
</div>

</body>
</html>
