/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Header styles */
.header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.menu {
    text-align: center;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #f5f5f5;
}

/* Content styles */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

input#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #555;
}

tr:nth-child(even) {
    background-color: #000; /* Cambia el color de fondo para filas pares */
    color: #fff; /* Cambia el color del texto para filas pares */
}

tr:hover {
    background-color: #e0e0e0;
}
.hero {
    background-image: url(https://w.forfun.com/fetch/7d/7d79917a27cfd4d071634e26489ec754.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.hero-2 {
    background-image: url(https://previews.123rf.com/images/mstupakova/mstupakova1702/mstupakova170200098/72575039-fondo-de-m%C3%BAsica-multicolor-para-tela-papel-y-dise%C3%B1o-web.jpg);
     background-size: cover;
        background-position: center;
        color: #fff;
        text-align: center;
        padding: 100px 0;
    }